# Ignore the virtual environment
venv/
env/
.env
/data
web-ui/data/

# Ignore Python cache files (speeds up your code)
__pycache__/
*.py[cod]

# Ignore database files (usually better to keep local)
*.sqlite3